In [2]:
import pandas as pd 
import numpy as np
import os

In [3]:
pd.set_option("display.max_columns",85)
# for displaying purposes

## Reading the Data
<hr>

In [18]:
df1= pd.read_csv("season2017-2018.csv")# first resource
df2= pd.read_csv("season2017-2018(2).csv") # second resource

# the data is scraped from different resourses
# so the first part of this notebook will be for cleaing the data and 
# unify the attributes and so on

In [19]:
df1.drop(["Unnamed: 0"],axis='columns',inplace=True)
# droping the indexing column in the data

In [20]:
# convert the date column from string to a date object 
# date column will be a very important column in the preprocssesing process 
# it will be the index that the matches will be jonined at 
# the date should be the same for the same match in different resources 
# it means that the data will be sorted on the date then on other attributes discussed later 
df1["date"]=pd.to_datetime(df1["date"].str.replace("-",""),format="%Y%m%d")

In [21]:
df2["Date"]=pd.to_datetime(df2["Date"].str.replace("/",""),format="%d%m%Y")

In [22]:
# dropping unwanted columns

In [23]:
df2.drop(["Div","FTHG","FTAG","HTHG","HTAG","HTR","Referee"],axis='columns',inplace=True)
# drop the dive , FTHG(final time home goal), FTAG(Final time  away Goals)
# HTGH(half time goals home ), " ... " "to referee"

In [24]:
index = df2.columns.get_loc("B365H")
df2.drop(df2.iloc[:,index:],axis=1,inplace=True)
# dropping the betting data

In [15]:
df2.sort_values(by=["Date","HomeTeam","AwayTeam"],inplace=True)
# sorting the data on Date , Home , then Away 
# to make the

In [16]:
df1.sort_values(by=["date","home","away"],inplace=True)