# بسم الله الرحمن الرحيم

In [336]:
import pandas as pd 
import numpy as np 
from matplotlib import pyplot as plt 
import pickle 
pd.set_option("display.max_columns",90)

In [337]:
season  = "2020-2021"
season_1= "2021-2022"
names=None
with open(f"sstand-stats{season}/season-{season}","rb") as fb : 
    names = pickle.load(fb)
print(names)

nones=names[-3:]
names= names[0:-3]

['Atlético Madrid', 'Real Madrid', 'Barcelona', 'Sevilla', 'Real Sociedad', 'Betis', 'Villarreal', 'Celta Vigo', 'Granada', 'Athletic Club', 'Osasuna', 'Cádiz', 'Valencia', 'Levante', 'Getafe', 'Alavés', 'Elche', 'Huesca', 'Valladolid', 'Eibar']

In [338]:
# for name in names : 
#     with open(f"sstand-stats{season}/{name}-stand-stats.csv","rb") as fb :
#         content= fb.readlines()

#     with open(f"sstand-stats{season}/{name}-stand-stats.csv","wb") as fb :
#         fb.writelines(content[5:])

In [339]:
train_data=pd.DataFrame()

In [340]:
for i , name in enumerate(names):
    print(name)
    team_df = pd.read_csv(f"sstand-stats{season}/{name}-stand-stats.csv")
    trans_df = pd.read_csv(f"sstand-stats{season}/transfers-{season_1}.csv")
    team_df =team_df[team_df.columns[:-2]]
    team_df.drop(["Player","Nation","CrdY","CrdR"],axis=1,inplace=True)
    team_df= team_df.iloc[:-2]
    team_df["Pos"]= team_df["Pos"].apply(lambda x : x[0:2])
    team_df= team_df[team_df["MP"]>0] #remove the players that didn't play in the season
    
    team_df= team_df[team_df.columns[:-10]]
    team_df= pd.concat([team_df,pd.DataFrame({"rank":[i+1]*team_df.shape[0]})],axis=1)
    num_of_players=team_df[team_df["Pos"]=="FW"].shape[0]
    obs=pd.DataFrame(team_df[team_df["Pos"]=="FW"].describe().loc["mean"]).T.reset_index()
    
   
    obs=pd.concat([obs,pd.DataFrame({"team_name":[name]})],axis=1)
    obs=pd.concat([obs,pd.DataFrame({"#attackers":[num_of_players]})],axis=1)
#     team_df= pd.concat([team_df,pd.DataFrame({"team_name":[name]*team_df.shape[0]})],axis=1)
    train_data=pd.concat([train_data,
                          obs]
                         ,axis=0)

Atlético Madrid
Real Madrid
Barcelona
Sevilla
Real Sociedad
Betis
Villarreal
Celta Vigo
Granada
Athletic Club
Osasuna
Cádiz
Valencia
Levante
Getafe
Alavés
Elche

In [341]:


train_data= train_data.reset_index().drop(["level_0","index"],axis=1)

In [342]:
train_data["team_name"]=train_data["team_name"].apply(lambda x : x.replace("Utd","United"))
train_data["team_name"]=train_data["team_name"].apply(str.lower)
train_data["team_name"]=train_data["team_name"].apply(lambda x : x.replace(" ",""))
train_data.sort_values(by=["team_name"],ascending=True,inplace=True)
train_data=train_data.reset_index().drop(["index"],axis=1)

In [343]:
train_data

SyntaxError: invalid syntax (2483557271.py, line 1)

In [344]:
transfers = pd.read_csv(f"sstand-stats{season}/transfers-{season_1}.csv")
transfers.drop("Unnamed: 0",axis=1,inplace=True)
transfers

,team,Goalkeeper,Right-Back,Left-Back,Centre-Back,DefensiveMidfield,RightWinger,LeftWinger,CentralMidfield,Centre-Forward,AttackingMidfield,LeftMidfield,SecondStriker
0,ATLÉTICO DE MADRID,0,0,0,3,0,0,1,1,3,0,0,0
1,FC BARCELONA,0,1,0,3,0,1,0,2,3,0,0,0
2,REAL MADRID,0,0,0,0,0,0,0,1,0,0,0,0
3,SEVILLA FC,1,1,1,1,0,1,0,1,1,0,0,0
4,REAL SOCIEDAD,1,0,1,0,0,0,0,0,0,1,0,0
5,VILLARREAL CF,0,2,0,2,0,0,1,1,2,0,0,0
6,REAL BETIS BALOMPIÉ,1,1,1,0,0,0,0,0,0,1,0,0
7,ATHLETIC BILBAO,0,1,1,0,0,1,0,0,0,0,0,0
8,GRANADA CF,2,1,1,1,0,1,0,2,1,0,0,0
9,CELTA DE VIGO,0,1,1,0,0,0,1,0,0,0,0,0
10,CÁDIZ CF,1,0,1,2,0,1,0,1,2,0,0,0
11,RCD ESPANYOL BARCELONA,1,1,0,1,0,1,1,0,1,0,0,0
12,CA OSASUNA,0,1,1,2,0,0,1,0,2,1,0,0
13,LEVANTE UD,0,0,1,1,0,1,1,0,1,1,0,0
14,VALENCIA CF,0,1,0,1,0,0,0,0,1,0,0,0
15,GETAFE CF,1,1,1,1,0,0,0,1,1,0,1,0
16,DEPORTIVO ALAVÉS,0,0,0,3,0,0,0,1,3,0,0,0
17,ELCHE CF,1,0,2,2,0,0,0,0,2,1,0,0
18,RCD MALLORCA,1,0,1,2,0,0,1,0,2,1,0,0
19,RAYO VALLECANO,1,1,1,1,0,0,0,1,1,1,0,0

In [330]:
transfers["team"]=transfers["team"].apply(lambda x : x.replace("AFC",""))
transfers["team"]=transfers["team"].apply(lambda x : x.replace("FC",""))
transfers["team"]=transfers["team"].apply(lambda x : x.replace("CA",""))
transfers["team"]=transfers["team"].apply(lambda x : x.replace("CF",""))
transfers["team"]=transfers["team"].apply(lambda x : x.replace("RCD",""))
transfers["team"]=transfers["team"].apply(lambda x : x.replace("RCD",""))
transfers["team"]=transfers["team"].apply(lambda x : x.replace("DEPORTIVO",""))



transfers["team"]=transfers["team"].apply(str.lower)
transfers["team"]=transfers["team"].apply(lambda x : x.replace(" ",""))
transfers["team"]=transfers["team"].apply(lambda x : x.replace("wolverhamptonwanderers","wolves"))

In [331]:
transfers

,team,Goalkeeper,Right-Back,Left-Back,Centre-Back,DefensiveMidfield,RightWinger,LeftWinger,CentralMidfield,Centre-Forward,AttackingMidfield,LeftMidfield,SecondStriker
0,atléticodemadrid,0,0,0,3,0,0,1,1,3,0,0,0
1,barcelona,0,1,0,3,0,1,0,2,3,0,0,0
2,realmadrid,0,0,0,0,0,0,0,1,0,0,0,0
3,sevilla,1,1,1,1,0,1,0,1,1,0,0,0
4,realsociedad,1,0,1,0,0,0,0,0,0,1,0,0
5,villarreal,0,2,0,2,0,0,1,1,2,0,0,0
6,realbetisbalompié,1,1,1,0,0,0,0,0,0,1,0,0
7,athleticbilbao,0,1,1,0,0,1,0,0,0,0,0,0
8,granada,2,1,1,1,0,1,0,2,1,0,0,0
9,celtadevigo,0,1,1,0,0,0,1,0,0,0,0,0
10,cádiz,1,0,1,2,0,1,0,1,2,0,0,0
11,espanyolbarcelona,1,1,0,1,0,1,1,0,1,0,0,0
12,osasuna,0,1,1,2,0,0,1,0,2,1,0,0
13,levanteud,0,0,1,1,0,1,1,0,1,1,0,0
14,valencia,0,1,0,1,0,0,0,0,1,0,0,0
15,getafe,1,1,1,1,0,0,0,1,1,0,1,0
16,deportivoalavés,0,0,0,3,0,0,0,1,3,0,0,0
17,elche,1,0,2,2,0,0,0,0,2,1,0,0
18,mallor,1,0,1,2,0,0,1,0,2,1,0,0
19,rayovalleno,1,1,1,1,0,0,0,1,1,1,0,0

In [332]:
transfers["Attacking_transfers"]=transfers["RightWinger"] + transfers["LeftWinger"] \
+ transfers["SecondStriker"]+  transfers["Centre-Forward"]

In [333]:
transfers= transfers[["team","Attacking_transfers"]]
transfers["team"]= transfers["team"].replace(['realbetisbalompié'],["betis"])
transfers["team"]= transfers["team"].replace(['rcdespanyolbarcelona'],["espanyol"])


transfers= transfers.sort_values(by="team",ascending=True).reset_index().drop("index",axis=True)

/tmp/ipykernel_5848/2330820599.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transfers["team"]= transfers["team"].replace(['realbetisbalompié'],["betis"])
/tmp/ipykernel_5848/2330820599.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transfers["team"]= transfers["team"].replace(['rcdespanyolbarcelona'],["espanyol"])

In [334]:
train_data

,Age,MP,Starts,Min,90s,Gls,Ast,G+A,G-PK,PK,PKatt,xG,npxG,xAG,npxG+xAG,PrgC,PrgP,PrgR,rank,team_name,#attackers
0,29.500000,25.500000,16.250000,1466.750000,16.275000,4.250000,2.500000,6.750000,3.000000,1.250000,2.000000,5.450000,3.850000,2.700000,6.525000,18.750000,50.750000,82.500000,16.0,alavés,4
1,24.714286,20.000000,10.857143,992.142857,11.042857,2.571429,1.571429,4.142857,2.000000,0.571429,0.714286,2.900000,2.328571,1.442857,3.771429,20.714286,26.428571,72.428571,10.0,athleticclub,7
2,26.833333,20.333333,13.500000,1216.666667,13.533333,6.500000,2.666667,9.166667,5.666667,0.833333,1.000000,5.316667,4.516667,2.250000,6.733333,27.166667,39.000000,87.166667,1.0,atléticomadrid,6
3,25.166667,27.500000,17.333333,1618.833333,17.983333,9.666667,3.833333,13.500000,9.000000,0.666667,1.333333,8.266667,7.150000,3.950000,11.083333,78.333333,96.833333,169.666667,3.0,barcelona,6
4,26.111111,22.888889,11.222222,1056.000000,11.744444,2.888889,1.444444,4.333333,2.333333,0.555556,0.555556,2.855556,2.411111,1.088889,3.522222,25.777778,33.222222,74.444444,6.0,betis,9
5,24.000000,16.000000,11.666667,1020.000000,11.333333,4.500000,2.666667,7.166667,3.500000,1.000000,1.000000,4.700000,3.760000,2.240000,6.000000,24.200000,38.800000,88.200000,8.0,celtavigo,6
6,26.100000,14.600000,7.700000,707.100000,7.860000,1.600000,0.700000,2.300000,1.500000,0.100000,0.100000,1.920000,1.840000,0.730000,2.560000,11.800000,17.300000,28.600000,12.0,cádiz,10
7,30.000000,25.750000,16.250000,1490.250000,16.550000,3.500000,1.750000,5.250000,3.500000,0.000000,0.000000,3.325000,3.325000,1.250000,4.575000,21.500000,34.250000,60.250000,17.0,elche,4
8,26.200000,23.600000,13.600000,1240.000000,13.780000,3.200000,1.000000,4.200000,2.600000,0.600000,1.000000,4.040000,3.260000,0.920000,4.180000,20.400000,23.200000,79.600000,15.0,getafe,5
9,27.000000,25.000000,14.375000,1353.000000,15.025000,4.375000,2.250000,6.625000,4.125000,0.250000,0.500000,3.637500,3.250000,1.900000,5.162500,25.625000,28.750000,76.125000,9.0,granada,8
10,25.500000,24.750000,13.000000,1212.250000,13.450000,4.000000,1.500000,5.500000,3.500000,0.500000,1.000000,3.825000,3.025000,1.200000,4.225000,16.250000,23.000000,85.750000,14.0,levante,4
11,28.500000,17.500000,8.833333,785.166667,8.733333,2.833333,0.833333,3.666667,2.833333,0.000000,0.000000,3.116667,3.083333,0.383333,3.483333,8.666667,20.333333,50.500000,11.0,osasuna,6
12,23.888889,18.222222,11.111111,998.555556,11.111111,4.000000,2.444444,6.444444,3.888889,0.111111,0.111111,3.855556,3.766667,2.144444,5.877778,45.000000,34.111111,102.000000,2.0,realmadrid,9
13,24.714286,25.142857,15.428571,1342.142857,14.928571,6.285714,3.142857,9.428571,5.000000,1.285714,1.714286,6.300000,4.942857,2.771429,7.728571,28.857143,38.571429,106.285714,5.0,realsociedad,7
14,25.111111,20.888889,11.888889,1068.000000,11.866667,3.888889,1.111111,5.000000,3.444444,0.444444,0.555556,4.277778,3.844444,1.777778,5.622222,26.444444,38.222222,80.555556,4.0,sevilla,9
15,24.000000,23.800000,13.000000,1217.200000,13.540000,3.200000,1.200000,4.400000,3.200000,0.000000,0.000000,3.220000,3.220000,1.080000,4.280000,17.000000,33.600000,55.400000,13.0,valencia,5
16,23.833333,20.833333,12.000000,1065.833333,11.850000,6.666667,2.000000,8.666667,4.833333,1.833333,2.000000,6.116667,4.566667,2.116667,6.683333,19.333333,33.000000,85.166667,7.0,villarreal,6

In [335]:
transfers["team"]

0        athleticbilbao
1      atléticodemadrid
2             barcelona
3                 betis
4           celtadevigo
5                 cádiz
6       deportivoalavés
7                 elche
8     espanyolbarcelona
9                getafe
10              granada
11            levanteud
12               mallor
13              osasuna
14          rayovalleno
15           realmadrid
16         realsociedad
17              sevilla
18             valencia
19           villarreal
Name: team, dtype: object

In [303]:
## change them for each season 
filter_ = transfers["team"].apply(lambda x : x not in ["girona","realvalladolid"
                                                       ,"udalmería"])
transfers = transfers[filter_].reset_index().drop(["index"],axis=1)

In [304]:
transfers["team"]

0        athleticbilbao
1      atléticodemadrid
2             barcelona
3                 betis
4           celtadevigo
5                 cádiz
6                 elche
7     espanyolbarcelona
8                getafe
9                mallor
10              osasuna
11          rayovalleno
12           realmadrid
13         realsociedad
14              sevilla
15             valencia
16           villarreal
Name: team, dtype: object

In [305]:
train_data["team_name"]

0       athleticclub
1     atléticomadrid
2          barcelona
3              betis
4          celtavigo
5              cádiz
6              elche
7           espanyol
8             getafe
9           mallorca
10           osasuna
11     rayovallecano
12        realmadrid
13      realsociedad
14           sevilla
15          valencia
16        villarreal
Name: team_name, dtype: object

In [306]:
pd.concat([train_data,transfers],axis=1)# to check on the results

,Age,MP,Starts,Min,90s,Gls,Ast,G+A,G-PK,PK,PKatt,xG,npxG,xAG,npxG+xAG,PrgC,PrgP,PrgR,rank,team_name,#attackers,team,Attacking_transfers
0,26.333333,27.000000,14.333333,1257.333333,13.966667,4.666667,2.000000,6.666667,4.666667,0.000000,0.333333,3.966667,3.700000,1.900000,5.600000,17.333333,55.333333,104.666667,8.0,athleticclub,3,athleticbilbao,3
1,26.500000,25.500000,14.166667,1318.833333,14.633333,6.666667,3.333333,10.000000,6.333333,0.333333,0.500000,5.700000,5.316667,2.516667,7.816667,25.833333,38.666667,88.833333,3.0,atléticomadrid,6,atléticodemadrid,2
2,24.200000,10.800000,6.666667,598.866667,6.646667,2.866667,1.533333,4.400000,2.533333,0.333333,0.400000,2.700000,2.386667,1.426667,3.826667,26.666667,18.866667,72.133333,2.0,barcelona,15,barcelona,3
3,26.181818,17.727273,8.272727,783.181818,8.700000,3.363636,1.181818,4.545455,2.818182,0.545455,0.545455,2.836364,2.400000,1.354545,3.745455,15.818182,22.818182,55.454545,5.0,betis,11,betis,3
4,23.000000,16.500000,9.750000,882.000000,9.800000,2.250000,1.250000,3.500000,2.250000,0.000000,0.250000,3.025000,2.825000,1.125000,3.950000,9.250000,14.750000,49.000000,11.0,celtavigo,4,celtadevigo,4
5,26.666667,15.833333,9.000000,842.833333,9.383333,2.333333,0.833333,3.166667,2.333333,0.000000,0.000000,2.383333,2.350000,1.083333,3.433333,16.333333,17.833333,41.666667,17.0,cádiz,6,cádiz,4
6,28.400000,19.600000,12.000000,1080.800000,12.020000,2.800000,1.000000,3.800000,2.800000,0.000000,0.000000,2.780000,2.780000,1.020000,3.780000,14.200000,22.800000,51.800000,13.0,elche,5,elche,2
7,24.800000,18.800000,7.200000,713.000000,7.940000,0.400000,0.400000,0.800000,0.400000,0.000000,0.000000,1.240000,1.240000,0.880000,2.120000,18.800000,14.600000,41.600000,14.0,espanyol,5,espanyolbarcelona,4
8,25.400000,18.200000,7.800000,751.800000,8.340000,2.200000,0.200000,2.400000,2.000000,0.200000,0.200000,1.460000,1.300000,0.560000,1.860000,13.400000,14.200000,53.200000,15.0,getafe,5,getafe,2
9,24.400000,16.500000,8.400000,787.000000,8.750000,1.500000,0.700000,2.200000,1.300000,0.200000,0.200000,2.010000,1.850000,0.760000,2.590000,17.600000,18.400000,48.500000,16.0,mallorca,10,mallor,2
10,25.166667,18.333333,10.166667,941.333333,10.450000,3.166667,0.666667,3.833333,2.500000,0.666667,0.666667,3.250000,2.733333,0.733333,3.500000,14.166667,18.666667,60.500000,10.0,osasuna,6,osasuna,1
11,26.454545,16.181818,7.454545,709.272727,7.863636,1.818182,0.727273,2.545455,1.727273,0.090909,0.090909,2.009091,1.936364,0.890909,2.818182,14.454545,18.545455,45.272727,12.0,rayovallecano,11,rayovalleno,2
12,24.750000,18.375000,10.125000,957.625000,10.637500,4.250000,2.375000,6.625000,4.250000,0.000000,0.000000,3.700000,3.700000,2.062500,5.762500,52.250000,38.250000,121.000000,1.0,realmadrid,8,realmadrid,0
13,22.400000,19.600000,10.900000,997.800000,11.110000,2.600000,0.800000,3.400000,1.700000,0.900000,1.000000,3.390000,2.600000,1.710000,4.300000,31.400000,27.700000,84.000000,6.0,realsociedad,10,realsociedad,4
14,25.416667,17.083333,10.000000,926.833333,10.300000,2.916667,1.166667,4.083333,2.833333,0.083333,0.083333,2.491667,2.425000,0.983333,3.375000,24.083333,33.500000,70.083333,4.0,sevilla,12,sevilla,2
15,22.000000,19.800000,10.200000,977.200000,10.860000,2.600000,1.000000,3.600000,2.600000,0.000000,0.000000,2.300000,2.300000,1.060000,3.340000,11.000000,14.800000,49.400000,9.0,valencia,5,valencia,3
16,24.833333,18.000000,10.833333,979.666667,10.866667,4.333333,2.500000,6.833333,3.666667,0.666667,0.833333,5.116667,4.450000,2.333333,6.766667,27.500000,32.000000,82.666667,7.0,villarreal,6,villarreal,2

In [307]:
Final_Data=pd.concat([train_data,transfers],axis=1).drop(["team_name","team"],axis=1)

In [308]:
Final_Data.to_csv(f"sstand-stats{season}/final-data-{season}.csv")