# بسم الله الرحمن الرحيم

In [1]:
import numpy as np
import pandas as pd 
from matplotlib import pyplot as plt

In [2]:
# season="2016-2017"

In [3]:
# data = pd.read_csv(f"sstand-stats{season}/final-data-{season}.csv")

In [4]:
# data.drop(["Unnamed: 0",'xG', 'npxG', 'xAG', 'npxG+xAG', 'PrgC', 'PrgP','PrgR'],axis=1)\
#     .to_csv(f"sstand-stats{season}/final-data-{season}.csv")

In [5]:
train_data = pd.read_csv(f"stand-stats2021-2022/final-data-2021-2022.csv")
strain_data= pd.read_csv(f"sstand-stats2021-2022/final-data-2021-2022.csv")
first = 2020
second= 2021

In [6]:
for i in range(6):
    data= pd.read_csv(f"stand-stats{first-i}-{second-i}/final-data-{first-i}-{second-i}.csv")
    train_data=pd.concat([train_data,data],axis=0)

for i in range(6):
    data= pd.read_csv(f"sstand-stats{first-i}-{second-i}/final-data-{first-i}-{second-i}.csv")
    strain_data=pd.concat([strain_data,data],axis=0)

In [7]:
train_data =train_data.drop(["Unnamed: 0"],axis=1)
strain_data=strain_data.drop(["Unnamed: 0"],axis=1)
train_data=pd.concat([train_data,strain_data],axis=0)

In [8]:
train_data

,Age,MP,Starts,Min,90s,Gls,Ast,G+A,G-PK,PK,PKatt,rank,#attackers,Attacking_transfers
0,23.750000,19.375000,12.875000,1159.750000,12.887500,3.875000,3.000000,6.875000,3.250000,0.625000,1.000000,5.0,8,3
1,23.888889,11.000000,7.333333,672.555556,7.477778,2.222222,1.222222,3.444444,1.888889,0.333333,0.333333,14.0,9,1
2,23.000000,26.250000,19.750000,1826.750000,20.300000,5.750000,3.500000,9.250000,4.250000,1.500000,1.500000,13.0,4,2
3,24.000000,20.000000,14.800000,1352.600000,15.020000,4.400000,1.400000,5.800000,4.000000,0.400000,0.600000,9.0,5,3
4,25.000000,25.333333,17.666667,1560.333333,17.366667,6.666667,1.333333,8.000000,6.333333,0.333333,0.333333,3.0,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12,23.000000,17.250000,12.000000,1098.750000,12.225000,6.750000,0.750000,7.500000,6.750000,0.000000,0.000000,9.0,4,2
13,25.500000,15.750000,10.000000,900.250000,10.000000,5.500000,1.750000,7.250000,4.500000,1.000000,1.250000,7.0,4,3
14,21.500000,19.500000,11.750000,1098.250000,12.200000,5.000000,0.500000,5.500000,4.750000,0.250000,0.250000,17.0,4,2
15,24.000000,25.500000,15.500000,1441.333333,16.033333,4.166667,2.000000,6.166667,3.833333,0.333333,0.500000,12.0,6,1
16,25.750000,26.000000,17.500000,1539.750000,17.150000,6.000000,4.500000,10.500000,6.000000,0.000000,0.000000,4.0,4,5

In [9]:
Y_train = train_data["Attacking_transfers"].to_numpy()
X_train = train_data.drop(["Attacking_transfers"],axis=1).to_numpy()

In [10]:
X_val=X_train[:9]
X_train=X_train[9:]
Y_val=Y_train[:9]
Y_train=Y_train[9:]

In [11]:
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression

In [12]:
scaler = preprocessing.StandardScaler().fit(X_train)
X_scaled = scaler.transform(X_train)

In [13]:
Y_train.shape

(229,)

In [14]:
reg = LinearRegression().fit(X_scaled , Y_train)

In [17]:
pred = reg.predict(scaler.transform(X_val))

In [24]:
np.sum((pred - Y_val)**2)/ Y_val.shape[0]

0.9697381180274485